header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
    text-transform: uppercase;
    background-color: black;
}
header.sticky{
    background-color: rgba(0,0,0,0.7);
    padding: 15px 100px;
}
header.sticky a{
    color: #fff;
}
.navbar a{
    text-decoration: none;
    display: inline-block;
    margin-left: 3rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}
.navbar a:hover, .navbar a.active{
    color: rgb(249, 73, 73);

    /* border-bottom: 1px solid rgb(249, 73, 73); */
}